@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif !important;
}

.navLink {
    text-decoration: none;
    margin-right: 5px;
}

.navLink>button {
    opacity: .7;
}

.navLink__active>button {
    opacity: 1;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}