.avatar {
  border: 3px solid var(--accent);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.blob {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 0;
  width: 100%;
  transition: all 2s ease-in-out;
}

.blob_basic {
  transform: scale(0.2);
  transition: all 2s ease-in-out;
}

.blob_active {
  transform: scale(10);
  transition: all 2s ease-in-out;
}